.footer {
    text-align: center;
    position: fixed;
    background-color: #f1f1f1;
    flex: 1;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .footer p {
    margin: 0;
    color: #555;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
 
  